openapi: 3.1.0
info:
  title: Stanley Black & Decker Tool Connect Assets Tools API
  description: The Stanley Black & Decker Tool Connect API enables partner integration with DEWALT's connected tool management platform. Partners can access tool inventory, track Bluetooth-connected tools and batteries, manage jobsite assets, and synchronize tool usage data. Used by fleet management software, construction platforms, and enterprise tool management solutions.
  version: '1.0'
  contact:
    name: DEWALT Developer Support
    url: https://sitemanager.dewalt.com/
  termsOfService: https://www.stanleyblackanddecker.com/terms-use
servers:
- url: https://api.dewalt.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Tools
  description: Connected tool management operations
paths:
  /v1/tools:
    get:
      operationId: listTools
      summary: List Tools
      description: Returns all Tool Connect-registered tools associated with the authenticated account, including tool type, model, serial number, and connectivity status.
      tags:
      - Tools
      parameters:
      - name: jobsiteId
        in: query
        required: false
        description: Filter tools by jobsite
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Filter by connectivity status
        schema:
          type: string
          enum:
          - connected
          - disconnected
          - all
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return
        schema:
          type: integer
          default: 50
      - name: offset
        in: query
        required: false
        description: Pagination offset
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tool'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/tools/{toolId}:
    get:
      operationId: getTool
      summary: Get Tool
      description: Returns detailed information for a specific connected tool including model details, firmware version, usage statistics, and current status.
      tags:
      - Tools
      parameters:
      - name: toolId
        in: path
        required: true
        description: The unique identifier of the tool
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDetail'
        '401':
          description: Unauthorized
        '404':
          description: Tool Not Found
        '429':
          description: Too Many Requests
  /v1/tools/{toolId}/usage:
    get:
      operationId: getToolUsage
      summary: Get Tool Usage
      description: Returns usage statistics and runtime data for a specific connected tool, including operational hours, trigger events, and battery consumption.
      tags:
      - Tools
      parameters:
      - name: toolId
        in: path
        required: true
        description: The unique identifier of the tool
        schema:
          type: string
      - name: startDate
        in: query
        required: false
        description: Start date for usage data (ISO 8601)
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        required: false
        description: End date for usage data (ISO 8601)
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolUsage'
        '401':
          description: Unauthorized
        '404':
          description: Tool Not Found
        '429':
          description: Too Many Requests
components:
  schemas:
    Tool:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        type:
          type: string
        brand:
          type: string
          enum:
          - DEWALT
          - Stanley
          - Craftsman
          - Black+Decker
        status:
          type: string
          enum:
          - connected
          - disconnected
        jobsiteId:
          type: string
        registeredAt:
          type: string
          format: date-time
    ToolUsage:
      type: object
      properties:
        toolId:
          type: string
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        totalHours:
          type: number
        triggerEvents:
          type: integer
        sessions:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date
              hours:
                type: number
              events:
                type: integer
    ToolDetail:
      allOf:
      - $ref: '#/components/schemas/Tool'
      - type: object
        properties:
          firmwareVersion:
            type: string
          purchaseDate:
            type: string
            format: date
          warrantyExpiry:
            type: string
            format: date
          lastSeen:
            type: string
            format: date-time
          totalRuntime:
            type: number
            description: Total operational runtime in hours
          assignedUserId:
            type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: DEWALT Tool Connect
  url: https://www.dewalt.com/systems/tool-connect
