openapi: 3.1.0
info:
  title: Stanley Black & Decker Tool Connect Assets Batteries API
  description: The Stanley Black & Decker Tool Connect API enables partner integration with DEWALT's connected tool management platform. Partners can access tool inventory, track Bluetooth-connected tools and batteries, manage jobsite assets, and synchronize tool usage data. Used by fleet management software, construction platforms, and enterprise tool management solutions.
  version: '1.0'
  contact:
    name: DEWALT Developer Support
    url: https://sitemanager.dewalt.com/
  termsOfService: https://www.stanleyblackanddecker.com/terms-use
servers:
- url: https://api.dewalt.com
  description: Production
security:
- bearerAuth: []
tags:
- name: Batteries
  description: Battery tracking and status operations
paths:
  /v1/batteries:
    get:
      operationId: listBatteries
      summary: List Batteries
      description: Returns all Tool Connect-registered batteries associated with the authenticated account, including charge level, health status, and paired tool information.
      tags:
      - Batteries
      parameters:
      - name: jobsiteId
        in: query
        required: false
        description: Filter batteries by jobsite
        schema:
          type: string
      - name: chargeStatus
        in: query
        required: false
        description: Filter by charge status
        schema:
          type: string
          enum:
          - charged
          - charging
          - low
          - critical
      - name: limit
        in: query
        required: false
        description: Maximum number of results to return
        schema:
          type: integer
          default: 50
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  batteries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Battery'
                  total:
                    type: integer
        '401':
          description: Unauthorized
        '429':
          description: Too Many Requests
  /v1/batteries/{batteryId}:
    get:
      operationId: getBattery
      summary: Get Battery
      description: Returns detailed status and health information for a specific registered battery, including charge cycles, temperature, and diagnostic data.
      tags:
      - Batteries
      parameters:
      - name: batteryId
        in: path
        required: true
        description: The unique identifier of the battery
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatteryDetail'
        '401':
          description: Unauthorized
        '404':
          description: Battery Not Found
        '429':
          description: Too Many Requests
components:
  schemas:
    BatteryDetail:
      allOf:
      - $ref: '#/components/schemas/Battery'
      - type: object
        properties:
          health:
            type: string
            enum:
            - good
            - fair
            - poor
            - replace
          chargeCycles:
            type: integer
          temperature:
            type: number
            description: Temperature in Celsius
          voltage:
            type: number
          capacity:
            type: number
            description: Current capacity vs rated capacity percentage
    Battery:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        chargeLevel:
          type: integer
          description: Charge percentage 0-100
        chargeStatus:
          type: string
          enum:
          - charged
          - charging
          - low
          - critical
        pairedToolId:
          type: string
        jobsiteId:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
externalDocs:
  description: DEWALT Tool Connect
  url: https://www.dewalt.com/systems/tool-connect
